body {
    font-family: Arial, 'Times New Roman', Times, serif;
    background-color: #f0eaea;
    margin: 0;
    padding: 0;
}

header {
    background-color: #395e88;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    padding: 10px 0;
}

h2 {
    top: 11;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-align: left;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.foto-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.jadwal {
    margin: 20px;
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 25%;
}

th {
    background-color: #4A90E2;
    color: white;
}


table:hover {
    background-color: #e0e0e0;
}

.highlight {
    background-color: #c8e6c9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #395e88;
    position: fixed;
    bottom: 0;
    height: 5px;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 768px) {
    .foto-profil {
        width: 120px;
        height: 120px;
    }

    table {
        font-size: 14px;
    }

    footer {
        padding: 5px;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 24px
}

.navigation a {
    text-decoration: none;
    color: white;
    background-color: #dc3545;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0 10px;
    /* Memberikan jarak antar tombol */
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #c82333;
    /* Warna saat hover */
}

body {
    font-family: Arial, 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

p {
    width: 100%;
    max-width: 600px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

.containers {
    text-align: center;
    padding: 10px
}

.back-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #dc3545;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #c82333;
    transform: scale(1.1);
}